.card{
    margin: 1rem;
    width: 300px;
    height: 600px;
    background-color: rgb(35, 2, 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    border-radius: 35px;

    &_link{
        text-decoration: none;
        text-align: center;

        &_imgContainer{
                width: 300px;
                height: 400px;
                overflow: hidden;
            &_img {
                width: 300px;
                  
                }
        }

            &_name {
                padding: 15px;
                color: wheat;
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
            }
        
            &_specie {
                color: wheat;
                font-size: 25px;
            }

    }

    
 }

