    .list {
        width: 100%;
        padding-top: 10px;

            &_cards {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    grid-gap: .5rem;
                    justify-content: center;
                }
    }

@media (min-width: 768px) {

    .list {
        width: 100%;
        padding-top: 20px;
            &_cards {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    grid-gap: 1.5rem;
                }
    }
}
         
@media (min-width: 1200px){
         .list {
            width: 100%;
                &_cards {
                        display: grid;
                        grid-template-columns: repeat(4, auto);
                    }
        }
}
