.form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;

    &_label{
        padding: 5px;

        &_input {
            height: 15px;
            font-size: 10px;
        }
    }  
}
@media (min-width: 768px) {
    .form {
            font-size: 18px;
    
            &_label {
                padding: 10px;
    
                &_input {
                    height: 25px;
                    font-size: 16px;
                    padding: 0 5px;
                }
            }
        }
}
@media (min-width: 1200px) {
    .form {
            font-size: 20px;
    
            &_label {
                padding: 10px;
    
                &_input {
                    height: 25px;
                    font-size: 18px;
                    padding: 0 5px;
                }
            }
        }
}
